*, *:before, *:after {
 -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5{font-weight: normal;}

body{
	font-family: Helvetica Neue,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif,Arial;
	color: #555;
}
::selection {
	background: #44FFB4;
	color: #fff;
}


.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.flex-conainer{
	display: flex;
	&.flex-row{
		flex-direction: row;
	}
	&.flex-column{
		flex-direction: column;
	}
}
.flex{
	flex:1;
}
.grid {
  /*  As of August 2012, only supported in Chrome 21+ */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  min-height: 200px;
}
.fluid {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1; 
  flex: 1;
}
	/* This parent can be any width and height */
	.zx-centered-wraper {
	  text-align: center;
	}
	/* The ghost, nudged to maintain perfect centering */
	.zx-centered-wraper:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -0.25em; /* Adjusts for spacing */
	}

	/* The element to be centered, can
	   also be of any width and height */ 
	.zx-centered {
	  display: inline-block;
	  vertical-align: middle;
	  max-width: 95%;
	}
/*------------------------------------------------*/
.container{
	max-width: 1300px;
	margin:0 auto;
	padding:0 15px;
}

header{
	text-align: center;
	background-color: #eee ;

}
header .r5-wraper{
	margin:10px auto 30px;
}
.r5-content{
	text-align: left;
	padding:0 15px;
	color: #fff;
}
.r5-content a{ color: #fff;}

button{
	background: none;
	color: #369588;
	border:solid 1px #369588;
	margin:0 0.5em;
	padding: 0.3em 0.6em 0.5em;
	border-radius: 3px;
	outline: none;
}
button:hover{
	background-color: rgba(240,240,240,0.8);
}


